@black: #1a1a1a;
header{
    //display: -webkit-flex; /* Safari */
    //display: flex;
    position: fixed;
    z-index: 1;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    .logo{
        top: 0px;
        display: inline-block;
        position: relative;
        width: 141px;
        height: 23px;
        background: url('assets/logo-white.svg');
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 10px;
        margin-right: 10px;
        //float: left;
        padding: 0px;
    }
}
#call-to-action{
    background: #333;
    padding-top: 27px;
    padding-bottom: 27px;

    .title{
        color:#fff;
        .font-weight-light();
    }
    .sub-title{
        color: #fff;
        .font-weight-normal();
        margin-bottom: 45px;
    }
    .credit{
        margin-top: 10px;
        font-size: 14px;
        line-height: 22px;
        display: block;
        color: #666;
        text-align: center;
       // content: 'No Credit Card Required';
        width: 258px;

    }

}
#spotlight{
    background: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    h3{
        color: @black;
        text-transform: uppercase;
    }
    .third{
        &:first-child{
            float: left;
         }
        &:last-child{
            float: right;
        }
    }
}