header{
    //display: -webkit-flex; /* Safari */
    //display: flex;
    position: fixed;
    z-index: 1;
    .logo{
        top: 0px;
        display: inline-block;
        position: relative;
        width: 141px;
        height: 23px;
        background: url('assets/logo-white.svg');
    }
}
#call-to-action{
    .topper{
        padding-top: 240px;
        padding-bottom: 240px;
        background: #333;
    }
}