header{
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    .logo{
        top: 0px;
        display: inline-block;
        position: relative;
        width: 141px;
        height: 23px;
        background: url('assets/logo-white.svg');
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px;
    }
}
#call-to-action{
    background: #333;
    padding-top: 27px;
    padding-bottom: 27px;

    .title{
        color:#fff;
    }
    .sub-title{
        color: #fff;
        .font-weight-normal();
        margin-bottom: 45px;
    }
    .credit{
        margin-top: 10px;
        font-size: 14px;
        line-height: 22px;
        display: block;
        color: #666;
        text-align: center;
        width: 258px;

    }

}
#spotlight{
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    h3{

        line-height: 14px;
    }
    .third{
        &:first-child{
            float: left;
         }
        &:last-child{
            float: right;
        }
    }
}
#analytics{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        text-align: center;
        color: rgb(15, 15, 15);
    }
    .laptop{
        background: url('assets/laptop.png');
        height: 470px;
        background-size: cover;
        background-position: 50% 0%;
    }
    .two-third{
        float: left;
    }
    .third{
        float: right;
    }
}